/* Error: Undefined mixin.
 *    ,
 * 10 | /     @include smartphone {
 * 11 | |         font-size: 1.2rem;
 * 12 | \     }
 *    '
 *   base/_typography.scss 10:5  @import
 *   main.scss 3:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c      @include smartphone {\a 11 \2502  \2502          font-size: 1.2rem;\a 12 \2502  \2514      }\a    \2575 \a   base/_typography.scss 10:5  @import\a   main.scss 3:9               root stylesheet";
}
