/*====================================================================================================
variable for brackpoints for media queries type SCREEN sp-smartphone - lt-laptop -  dt-desktop*/

$screen-sp-max: 480px;
$screen-sp-min: 481px;
$screen-lt-min: 769px;
$screen-dt-min: 1280px;

