@media print {
    header, footer {
        display: none;
    }
    body {
        font-size: 120%;
        color: black;
    }
}

@media all and (max-width: 420px) {
    section, figure, nav, article {
        float: none;
        width: auto;
    }
}
